.event-img-div {
    width: 210px;
    height: 389.11px;
}

.event-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    color: #000000;
    padding: 15px 5px;
}

.form-step {
    gap: 38px;
}

.date-pick-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section {
    width: 100%;
}

/* .date-pick-div h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(89.87deg, #F17CAF 2.08%, #E7075B 98.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} */

.date-pick-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #DDDDEB;
    border-radius: 10px;
    width: 100%;
    height: 97px;
    padding: 24px;
    gap: 32px;
}

.date-pick-section p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #9A9FA5;
}

.date-pick-section svg {
    font-size: 20px;
    color: #9A9FA5;
}


.date-pick-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 186px;
    height: 48px;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;    
    letter-spacing: -0.01em;
    background: #FCFCFC;
    border: 1px solid #F17CAF;
    color: #F17CAF;
}

.date-pick-section button:hover {
    background: linear-gradient(89.87deg, #F17CAF 2.08%, #E7075B 98.27%);    
    color: #FCFCFC;
}
